<div class="container">
    <div class="row">
        <div class="col-md-6"><img style="width:80%;" src="../../../../../arquivos/{{apartamento.nomeArquivo}}"/></div>
        <div class="col-md-6 text">
            <div class="row mb-4 text"><h1 class="h4" style="color: #666;">{{apartamento.descricao}}</h1></div>
            <div class="row mb-4 text"><h1 class="h4">R$ {{apartamento.preco}}</h1></div>
            <br>
            <div class="row mb-4">
                <button class="btn btn-danger btn-lg text" (click)="alugar()">Alugar</button>
            </div>
        </div>
    </div>
</div>