<h1 class="h4" titulo>Cadastro de Apartamento</h1><br>
<label for="inputNome" class="sr-only">Nome</label>
<input type="text" id="inputNome" 
       name="nomeApartamento"
       placeholder="Nome do Apartamento"
       class="form-control mb-2 col-md-4"
       [ngClass]=""
       [(ngModel)]="apartamento.nome"
       #nome="ngModel" 
       required/>

<div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched) ">
    <div *ngIf="nome.errors.required">
        Nome do apartamento é de preenchimento obrigatório.
    </div>
</div>

<label for="inputDescricao" class="sr-only">Descrição</label>
<input type="text" id="inputDescricao" 
       name="descricaoApartamento"
       placeholder="Descrição do Apartamento"
       class="form-control mb-2 col-md-4"
       [ngClass]=""
       [(ngModel)]="apartamento.descricao"
       #descricao="ngModel" 
       required/>

<div class="invalid-feedback mb-2" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched) ">
    <div *ngIf="descricao.errors.required">
            Descricao do apartamento é de preenchimento obrigatório.
    </div>
</div>

<label for="inputPreco" class="sr-only">Preço</label>
<input type="number" id="inputPreco" 
       name="precoApartamento"
       placeholder="Preço do Apartamento"
       class="form-control mb-2 col-md-3"
       [ngClass]=""
       [(ngModel)]="apartamento.preco"
       #preco="ngModel" 
       required/>

<div class="invalid-feedback mb-2" *ngIf="preco.invalid && (preco.dirty || preco.touched) ">
    <div *ngIf="preco.errors.required">
            Preço do apartamento é de preenchimento obrigatório.
    </div>
</div>

<div class="input-group mb-2">
    <div class="custom-file col-md-4" >
        <input type="file" class="custom-file-input" id="inputFile">
        <label for="inputFile" class="custom-file-label">Escolha uma Imagem</label>
    </div>
</div>

<button class="btn btn-primary" (click)="cadastrar">Cadastrar</button>